# Connexion SDR
websocket-client==1.5.0

# Traitement du signal
numpy==1.26.0
scipy==1.13.0

# Backend Web
flask==2.3.2
flask-socketio==5.3.4
gevent==23.9.1
gevent-websocket==0.10.1

# Utilitaires
pyyaml==6.0
python-dotenv==1.0.0

# Tests
pytest==7.3.1
pytest-cov==4.1.0 